* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  border-collapse: collapse;
  vertical-align: top;
}

*:focus {
  outline: none;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  font-family: helvetica;

  display: flex;

  flex-direction: column;
}

footer {
  background-color: #b3e5fc;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 10vh;
}

footer img {
  display: block;
  object-fit: contain;
  height: calc(100% - 20px);
  padding: 10px;
}

footer div {
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer div p {
  font-size: 22px;
  padding-bottom: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer div span {
  color: #555;
  font-size: 16px;
  font-weight: normal;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.div-col_1,
.div-col_2 {
  padding: 0px 40px;

  height: calc(90vh - 0px);

  display: flex;
  align-items: center;
}

.div-col_1 {
  width: 40%;
}

.div-col_2 {
  width: 60%;
  background-color: #181138;
}

table.dataTable td {
  text-align: left !important;
}

/* -- mobile --*/
@media screen and (max-width: 700px) {
  body {
    flex-direction: column-reverse;
  }

  footer {
    height: 6vh;
    justify-content: space-between;
  }

  footer img {
    height: calc(100% - 8px);
    padding: 4px;
  }
  main {
    width: 100%;
    flex-direction: column-reverse;
  }

  .div-col_1,
  .div-col_2 {
    padding: 0px 0px;

    height: auto; 
    display: block;
  }

  .div-col_1 {
    width: 100%;
  }

  .div-col_2 {
    width: 100%;
  }
}
